<nav class="navbar bg-primary">
    <div class="container py-2 d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="">
            <img src="assets/images/BCParks_Primary_Reversed-cropped-0080416cb5f347c8e7c33f32739f17ca.svg"
                alt="Bootstrap" height="45">
        </a>
        <div class="d-flex align-items-center">
            <button *ngIf="user" class="btn btn-outline-light square-btn me-2" (click)="cart()">Cart</button>
            <!-- Account Dropdown -->
            <div class="dropdown me-2">
                <button class="btn btn-outline-light dropdown-toggle square-btn" type="button" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user && !user.sub.startsWith('guest') ? (user.given_name + ' ' + user.family_name) : 'Login' }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                    <li><a class="dropdown-item btn" routerLink="/account" *ngIf="user && !user.sub.startsWith('guest')">Account</a></li>
                    <li><a class="dropdown-item btn" routerLink="/account-details" *ngIf="user && !user.sub.startsWith('guest')">Account details</a></li>
                    <li><a class="dropdown-item btn" routerLink="/my-bookings" *ngIf="user && !user.sub.startsWith('guest')">My bookings</a></li>
                    <li><a class="dropdown-item btn-link" (click)="logout()" *ngIf="user && !user.sub.startsWith('guest')">Log out</a></li>

                    <li><a class="dropdown-item btn-link" routerLink="/login" *ngIf="!user || user.sub.startsWith('guest')">Log In</a></li>
                    <li><a class="dropdown-item btn" routerLink="/find-booking" *ngIf="!user || user.sub.startsWith('guest')">Find booking</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div *ngIf="showBanner" class="env-banner text-center bg-danger text-white py-2">
    This is the <strong>{{ envName }}</strong> environment. The content you are viewing is not final and subject to change.
</div>
